body {
font-family: Arial, sans-serif;
background: #c2b8b8;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}


.login-box {
background: #0b9dd7;
padding: 25px;
border-radius: 8px;
width: 300px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-box h2 {
text-align: center;
margin-bottom: 20px;
}


.login-box input {
width: 100%;
padding: 10px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 5px;
margin-left: -7px;
}


.login-box button {
width: 100%;
padding: 10px;
background: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
}


.login-box button:hover {
background: #0056b3;
}


.login-box p {
text-align: center;
margin-top: 15px;
font-size: 14px;
}