*{
    margin: 0px;
    border:0 px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
 html {
  scroll-behavior: smooth;
}
body {
    
    background-color:  #c7d1db; 
  
}
nav {
    display: flex;
   justify-content: space-between;
   position: static;
    align-items: center;
    padding: 20px 40px;
    height: 50px;
    width: 100%;
    background-color: rgb(5, 12, 22);
   
}

.h2{
 color: rgb(10, 228, 253);
}
.logo{
  color: #00aaff;
}
span{
    color: rgb(181, 214, 32);
}
nav ul {
   display: flex;
   gap: 40px;
   list-style: none;
   margin-right: 25px;
   font-size: 20px;
   
}
nav div {
   
    display: flex;
    gap: none;
    
}
nav div a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
}
 nav ul li a:hover{

    color: rgb (15, 183,244);
    text-decoration: none;
 }
  .main {
   
    margin-top: 40px;
    height: 200px;
    text-align: center;
     background-color: rgb(224, 134, 8);
    color: rgb(220, 220, 220);
   
  }
 .home {
    height: 90vh;
  
    display: flex;  background: url('https://picsum.photos/1100/700?blur=3') no-repeat center/cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-content h1 {
    font-size: 40px;
    color: white;
}

.home-content h1 span {
    color: #00aaff;
}

.home-content p {
    color: #eee;
    margin: 10px 0 20px;
    font-size: 18px;
}

.btn {
    padding: 10px 20px;
    background: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

/* About */
.about, .services, .skills, .contact {
    padding: 60px;
    text-align: center;
}

.about p {
    width: 70%;
    margin: auto;
    line-height: 1.6;
    font-size: 18px;
}

/* Services */
.services {
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background: #00aaff;
    width: 280px;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

/* Skills */
.skills ul {
    list-style: none;
    font-size: 20px;
    line-height: 2;
}

/* Contact */
.contact p {
    font-size: 20px;
    margin: 10px 0;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
